:root {
  --color-dark: #333;
  --color-mid: #aaa;
  --color-light: #f0f0f0;

  --color-text: var(--color-dark);
  --color-background: white;
  --color-link: #0074d9;

  --font-family: -apple-system, BlinkMacSystemFont, "helvetica neue", helvetica,
    sans-serif;
  --font-size: 16px;
  --line-height: 1.5;

  --max-width: 47rem;
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--color-text);
  background-color: var(--color-background);
}

h1 {
  letter-spacing: 0.02em;
}

h2 {
  margin-top: 2em;
}

h3 {
  margin-bottom: 0;
}

p {
  margin: 0 0 1em;
}

a {
  cursor: pointer;
  color: var(--color-link);
  font-weight: bold;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

img {
  display: block;
  margin: 2rem 1rem;
  max-height: 100%;
  max-width: 100%;
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 1.5rem;
}

.notice {
  background-color: var(--color-light);
  padding: 1.5rem;
  margin-bottom: 1.5rem;
}

/* @media screen and (min-width: 64rem) {
} */
