<!DOCTYPE HTML>
<html lang="en">
{% include head.html %}

<body>
  <div class="container">
    <header class="header">
      <div class="width-wrapper">
        <h1 class="brand"><a href="/">{{ site.name }}</a></h1>
      </div>
    </header>
    <div class="content width-wrapper">
      {{ content }}
      <footer class="footer">
        <p>
          This site is a documented work in progress.<br/>
          <a href="https://github.com/andrewliebchen/a12n" title="This site's source">View the source on Github</a>
        </p>
      </footer>
    </div>
  </div>

  {% include tracking.html %}
</body>
</html>
