$colorDev: rgb(217, 88, 88);

@import "../bower_components/bourbon/dist/bourbon";
@import "helpers/grid-settings";
@import "../bower_components/neat/app/assets/stylesheets/neat";
@import "../bower_components/normalize-scss/normalize";

@import "helpers/development";
@import "helpers/icons";

$colorDark: #222;
$colorMid:  #AAA;
$colorLight: #F0F0F0;

$colorText: $colorDark;
$colorLink: #0074D9;

$fontFamilyBase: $helvetica;

@mixin underlined-base {
  background-repeat: repeat-x;
  text-decoration: none;
}

@mixin underlined-params($width: 1px, $position: 1em) {
  background-size: $width $width;
  background-position: 0 $position;
}

@mixin underlined-color($color: $colorText) {
  @if $color == "none" {
    background-image: none;
  } @else {
    @include background-image(linear-gradient(to bottom, transparent 50%, $color 50%));
  }
}

html,
body {
  font-family: $fontFamilyBase;
  color: $colorText;
  font-size: 16px;
  line-height: $gutter;
}

body {
  @include pad(0 default);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

h1,
h2 {
  a,
  a:hover {
    @include underlined-color(none);
  }
}

h4 {
  a {
    @include underlined-params($position: 1.1em);
  }
}

p,
ul,
ol {
  margin: 0 0 $gutter;
}

a {
  @include underlined-base;
  @include underlined-params;
  @include underlined-color;
  @include transition(all 0.05s linear);
  color: $colorText;

  &:hover {
    @include underlined-color($colorLink);
    color: $colorLink;
  }

  &:active {
    $color: tint($colorLink, 40%);
    @include underlined-color($color);
    @include transition(none);
    color: $color;
  }
}

ul,
ol {
  padding: 0;

  li {
    @include shift(1);
  }
}

ul {
  list-style: circle;
}

small {
  color: $colorMid;
}

img {
  max-height: 100%;
  max-width: 100%;
}

blockquote {
  color: $colorMid;
  font-family: $monospace;
  margin: 0;
}

// LAYOUT
.width-wrapper {
  @include outer-container;
}

section,
nav,
.post,
footer {
  margin-bottom: $gutter;
}

header {
  padding-top: $gutter * 2;
}

nav {
  @include background-image(linear-gradient(to bottom, white 50%, transparent));
  @include position(fixed, 0 0 null 0);
}

a.nav-item {
  @extend %icon;
  @include underlined-color(none);
  display: inline-block;
  font-weight: bold;
  margin-right: 1em;

  &.is-selected {
    box-shadow: inset 0 3px 0 $colorLink;
    color: $colorLink;
  }

  &:nth-child(1) {
    @extend .icon-blog;
  }

  &:nth-child(2) {
    @extend .icon-about;
  }

  &:nth-child(3) {
    @extend .icon-work;
  }

  &:before {
    margin-right: 5px;
    top: 1px;
  }
}

footer {
  padding-top: $gutter;
}

// VIEWS
.post-excerpt {
  margin-bottom: 2em;

  p {
    margin-bottom: 0;
  }
}

.resume {
  margin-bottom: 0;
}

.resume-item {
  @include row();
}

.resume-title {
  @include span-columns(4);
}

.resume-description {
  @include span-columns(8);
  @include omega;
}
