$colorDev: rgb(217, 88, 88);

@import "bourbon";
@import "helpers/grid-settings";
@import "neat";
@import "bower_components/_normalize.scss/normalize";

@import "helpers/development";

$colorDark: #222;
$colorMid:  #AAA;
$colorLight: #F0F0F0;

$colorText: $colorDark;
$colorLink: #0074D9;

$fontFamilyBase: $helvetica;

html,
body {
  font-family: $fontFamilyBase;
  color: $colorText;
  font-size: 18px;
  line-height: 1.6;
}

body {
  @include pad(0 default);
  padding-top: 5em;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;

  a {
    &,
    &:hover {
      text-decoration: none;
    }

    &:hover {
      color: $colorLink;
    }
  }
}

h2,
h3,
h4,
h5 {
  padding-bottom: 0.5em;
}

p,
ul,
ol {
  margin: 0 0 1em;
}

a {
  @include transition(all 0.05s linear);
  color: $colorText;

  &:hover {
    color: $colorLink;
  }

  &:active {
    $color: tint($colorLink, 40%);
    @include transition(none);
    color: $color;
  }
}

ul,
ol {
  padding: 0;

  li {
    @include shift(1);
  }
}

ul {
  list-style: circle;
}

small {
  color: $colorMid;
}

code {
  background-color: $colorLight;
  border-radius: 3px;
  color: lighten($colorDark, 20%);
  padding: 0 0.2em;
}

img {
  max-height: 100%;
  max-width: 100%;
}

blockquote {
  color: $colorMid;
  font-family: $monospace;
  margin: 0;
}

@mixin selection {
  background-color: $colorLink;
  color: white;
}

::-moz-selection {
  @include selection;
}
::selection {
  @include selection;
}

// LAYOUT
.width-wrapper {
  @include outer-container;
}

.section,
.post,
.footer {
  margin-bottom: $gutter;
}

.header {
  @include position(fixed, 0 0 null 0);
  background-color: white;
  line-height: 3em;

  a:hover {
    text-decoration: none;
  }
}

.brand {
  color: $colorMid;
  float: left;
  font-size: inherit;
  text-transform: uppercase;
}

.nav {
  float: right;
}

a.nav-item {
  color: $colorMid;
  display: inline-block;
  margin-left: 1em;
  text-decoration: none;

  &:hover {
    color: $colorLink;
  }

  &.is-selected {
    color: $colorText;
    cursor: default;
  }
}

.post {
  margin-bottom: 2em;
}

.changelog {
  background-color: $colorLight;
  border-radius: 3px;
  color: $colorMid;
  color: lighten($colorDark, 20%);
  margin-top: 3em;
  padding: 1em 1.5em 0.5em;
  font-family: $monospace;
}

.footer {
  padding-top: 1em;
  margin-top: 2em;
  border-top: 1px solid $colorLight;
  text-align: center;

  &,
  a {
    color: $colorMid;
  }

  a:hover {
    color: $colorLink;
  }
}

// VIEWS
.post-excerpt {
  margin-bottom: 2em;

  p {
    margin-bottom: 0;
  }
}
