<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

  <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen">
  <script src="http://code.jquery.com/jquery-latest.js"></script>
</head>

<body>
  <div class="width-wrapper">
    <header>
      <h1><a href="/">{{ site.name }}</a></h1>
      <p>Currently, I’m a Designer at OpenGov where I design and develop User Interfaces for advance civic financial reporting. In the past I’ve run my own design agency, studied architecture, and worked as a theatrical set designer.</p>
    </header>

    {{ content }}

    <footer>
      <ul>
        <li>Twitter</li>
        <li>Dribbble</li>
        <li>Github</li>
      </ul>

      <p>This site is a documented work in progress. View the source on Github</p>
    </footer>
  </div>
</body>
</html>
